@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.flechaAbajo1 {
  width:0px;
  height:0px;
  border-style: solid;
  border-width: 20px;
  border-bottom-width:0px;
  border-color: rgb(219, 82, 69) transparent transparent transparent;
}
.flechaAbajo2 {
  width:0px;
  height:0px;
  border-style: solid;
  border-width: 20px;
  border-top-width:0px;
  border-color:  transparent transparent rgb(142, 217, 119) transparent;
}
.flechaAbajo3 {
  width:0px;
  height:0px;
  border-style: solid;
  border-width: 20px;
  border-top-width:0px;
  border-color: transparent transparent rgb(223, 191, 87) transparent;
}
.flechaArriba1 {
  width:0px;
  height:0px;
  border-style: solid;
  border-width: 20px;
  border-top-width:0px;
  border-color: transparent transparent green transparent;
}

#barraDerecha{
  float: right;
  margin-block: -45rem;
}
#barraMedio2{
  text-align: center;
  margin-block: -45rem;
}

h3{
color:rgb(156, 154, 154)}

#container_cards {
  display: grid;
  grid-template-columns: repeat(
      auto-fit,
      minmax(
          100px,
          205px
      )
  );
  width: 96%;
  justify-content: center;
  gap: 5px;
  margin: 1% auto;
}
#coe_carta {
  background-color: blue;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: -1px 13px 27px -7px rgba(0,0,0,0.82);
  -webkit-box-shadow: -1px 13px 27px -7px rgba(0,0,0,0.82);
  -moz-box-shadow: -1px 13px 27px -7px rgba(0,0,0,0.82);
}

#coe_carta:hover{
  background-color: rgb(61, 99, 205);
  transition: all ease 0.3s;
}
.card-header {
  font-size: 1pt;
}
#coe_carta .card-title {
  font-family: "Roboto Slab", serif;
  font-size: 5pt;
}
#coe_carta .card-text {
  font-family: "Roboto Slab", serif;
  font-weight: 5;
  font-size: 15pt;
} 
#chartsContainer {
  margin: 20px auto;
  border-radius: 30px;
  display: grid;
  background-color: rgb(46, 45, 45);
  box-shadow: -1px 13px 27px -7px rgba(0,0,0,0.82);
  -webkit-box-shadow: -1px 13px 27px -7px rgba(0,0,0,0.82);
  -moz-box-shadow: -1px 13px 27px -7px rgba(0,0,0,0.82);
  padding: 2%;
  max-width: 70%;
  justify-content: space-evenly;
  grid-template-columns: repeat(
      auto-fit,
      minmax(
          200px,
          240px
      )
  );
}

